.product-card {
    padding: 1.5rem;
}

.product-card:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.image-section {
    position: relative;
}

.product-image {
    position: relative;
    margin-bottom: 1.3rem;
    aspect-ratio: 1 / 1.2;
    width: 350px;
}

.out-of-stock {
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 1.5em;
    font-weight: 400;
    color: var(--semi-gray);
}

.half-opacity {
    opacity: .5;
}

.product-name {
    margin-bottom: .5rem;
    font-size: 1.125em;
    font-weight: 300;
    color: var(--dark-grey);
}


.add-to-cart-button {
    position: absolute;
    bottom: 0;
    right: 5%;
    aspect-ratio: 1 / 1;
    padding: .7rem;
    font-size: 3.25em;
    color: var(--white);
    background-color: var(--light-green);
    cursor: pointer;
    border: 0;
    border-radius: 10rem;
}

.currency-price {
    font-size: 1.125em;
    font-weight: 500;
}
