nav {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.categories > li {
    border-bottom: 1px solid var(--white);
    padding: 1.5rem 1rem;
    font-size: 1em;
    font-weight: 400;
    color: var(--dark-grey);
    text-transform: uppercase;
    cursor: pointer;
}

.categories > li:hover {
    color: var(--light-green);
    border-bottom: 1px solid var(--light-green);
}

.logo {
    margin-right: 3rem;
    cursor: pointer;
}

.cart-and-currencies {
    display: flex;
    gap: 3rem;
    align-items: center;
}
