.products-section {
	padding: 2rem;
	display: flex;
	gap: 4rem;
	flex-direction: column;
	justify-content: center;
}

.category-name {
	padding-left: 3rem;
	font-family: var(--raleway-font);
	font-size: 3em;
	font-weight: 400;
	color: var(--dark-grey);
	text-transform: capitalize;
}

.filter-and-products {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}

.products-box {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(3, 1fr);
}
